<div class="container">
    <form name="ticketForm" class="ng-cloak">
        <div class="row form--header">
            <label class="control-label">{{test}}</label>
        </div>

        <div class="row form--main">
            <label class=""></label>
        </div>

        <div class="row form--footer">

        </div>
    </form>
</div>