<p>test</p>

<div class="row-fluid">
    <jq-grid>
    </jq-grid>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/angular/angular-sanitize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/home/homeModule.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/home/homeCtrl.js")" type="text/javascript"></script>
}
